
@font-face {
    font-family: minecraft;
    src: url(Minecraft.ttf);
}

body {
    background-color: #282828;
    font-family: minecraft;
    color: #aba9b4;
    
     
}

.backBtn {
    position: absolute;
    top: 0px;
    left: 50px;
    color: #aba9b4;
}

.container {
    width: 45%;
    height: 500px;

    
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
     padding: 20px;
     padding-left: 20px;
     padding-right: 20px;
     border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 10px 25px 5px #1d1c1f;
    position: relative;
    
     background-color: #2F2D33;
    
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
     padding: 20px;
     padding-left: 20px;
     padding-right: 20px;
     border-radius: 10px;
     gap: 15px;
}


.mini-container {
    position: relative;
    background-color: #282828;
    border-left: 5px solid #aba9b4;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
    height:max-content;


}

.mini-content {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
}


.mini-content h3:hover, .mini-content p:hover {
opacity: 0.75;
}

.bottom-text {
    width: auto;
    height: 35px;
    position: absolute;
    bottom: 0;
    right: 51.5%;
    font-size: 15px;
}

.pfpimg {
    border-radius: 50%;
    height: 50px;

}



.links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    top: 0px;
    right: 50px;
}

#addBtn {
    font-family: Minecraft;
    height: 50px;
    border-radius: 5px;
    background-color: #6363ed;
    color: #ffffff;
    border-style: hidden;
    font-size: 15px;
}

.socials img {
    width: 25px;
    height: 25px;
}

.socials {
 display: flex;
 flex-direction: row;
 position: absolute;
 bottom: 0;
 right: 0;
 gap: 10px;
 margin-right: 5px;
 margin-bottom: 5px;
}

@keyframes textGlow {
from { text-shadow: 0 0 5px #d5d5d5, 0 0 10px #a7a7a7, 0 0 15px #7f7f7f;}
to { text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;}
}

h2 {
    color: white;
    animation: textGlow 1s ease-in-out infinite alternate ;
} 




@media (max-width: 800px) {
   .container {
    width: 75%;
    height: 500px;
    
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
     padding: 20px;
     padding-left: 20px;
     padding-right: 20px;
     border-radius: 10px;
    box-sizing: border-box;
     overflow-x: scroll;
    
     background-color: #2F2D33;
    
}

.bottom-text {
    position: absolute;
    bottom: 0;
    right: 45%;
}
}


@media (max-width: 450px) {
   .container {
    width: 75%;
    height: 500px;
    
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
     padding: 20px;
     padding-left: 20px;
     padding-right: 20px;
     border-radius: 10px;
    box-sizing: border-box;
    overflow-x: scroll;
    
     background-color: #2F2D33;
    
}

.bottom-text {
    position: absolute;
    bottom: 0;
    right: 45%;
}
}